.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  /* font-size: 50px; */
}

html {
  scroll-behavior: smooth;
}

.welcome-container{
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2, p{
  color: #472F2A;
}

.welcome-body{
  background-color: #c69c45;
  font-family:Georgia, 'Times New Roman', Times, serif ;
}

.welcome-button{
  background-color: lightgray;
  border: none;
  border-radius: 30%;
}

.pastry-welcome-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 1rem;
}

.pastrys{
  border-radius: 30px;
}

.pastrys{
  width: 50%;
}

.slogan-buttn{
  display: flex;
  justify-content: center;
}

.link-btn{
  height: 50%;
  margin-top: 1rem;
}

/* ------------------------------------------Welcome page ENDS---------------------------------------- */


/* ---------------------------------------Homepage BEGINS---------------------------------------------- */

.home-container{
  max-width: 1400px;
  margin: 0 auto;
  /* background-color: red; */
}

.link-btn{
  display: flex;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  border: black 2px solid;
  padding: 1rem;
  border-radius: 50px;
  background-color: lightgrey;
  text-align: center; 
}

.link-btn:hover{
  transform: scale(1.25);
  transition: transform .5s ease-out;
}

nav ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 1rem;
  justify-content: space-around;
}

a{
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 2em;
  margin: -2em;
}

nav li a,
nav li a:link,
nav li a:visited{
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  transition: transform .5s;
  transition-delay: .3s;

}

nav li :hover,
nav li :focus{
  transform: scale(1.25);
}

.profile-p{
  width: 70px;
  border-radius: 50px;
}

.profile-p:hover{
  transform: scale(1.25);
  transition: transform .5s ;
}

.logo-pp{
  display: flex;
  justify-content: space-between; 
}

.search-line{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input.search-bar-width{
  border-radius: 50px;
  height: 30px;
  width: 15rem;
}

.search-button{
  height: 40px;
  width: 4rem;
  border-radius: 50px;
}

.search-bar-width::placeholder {
  opacity: 50%;
  padding: .4rem;

}

.search-bar-width{
  width: 50%;
}

.banner-img{
  width: 100%;
  border-radius: 100px;
}

.banner{
  background-image: url('/images/macsaroons.jpg');
  min-height: 40vh;
  background-size: cover;
  background-position: center;
  padding: 2rem 1rem;
  /* color: white; */
  font-size: 1.2rem;
  border-radius: 50px;
}

.sale-text{
  font-size: 2.5rem;
}

.menu-sec{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pastry-types{
  display: flex;
  justify-content: space-between;
}

.diet-needs{
  display:flex ;
  border: 2px solid;
  border-radius: 20px;
  padding: .5rem;
  background-color: #a6b25556;
  width: 10%;
  justify-content: center;
}

.all-diet{
  background-color: #A6B255; 
}

.pastry-grid{
  padding-top: 2rem ;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
}

.home-pastries{
  width: 90%;
  border-radius: 50px;
}

footer{
  display: flex;
  justify-content: center;
}
hr{
  border-color: black;
  border: 1px solid;
  margin-top: 1rem ;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

footer a:hover{
  transform: scale(1.25);
  transition: transform .5s ease-out;
}

@keyframes shake {
  0% {
      transform: rotate(5deg);
  }
  100% {
      transform: rotate(-5deg);
  }
}

.home-pastries:hover {
  animation: shake 0.5s alternate ;
  animation-delay: .5s;
}
/* ---------------------------------------Orderpage BEGINS---------------------------------------------- */

.order-container{
  max-width: 1400px;
  margin: 0 auto; 
}

.order-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  /* background-color: red; */
}

.order-img{
  width: 90%;
  border-radius: 50px;
  /* justify-content: center */
}

.name-btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  width: 100%;

}

.image-text-button{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.submit-btn{
  width: 50%;
  background-color: #A6B255;
  border-radius: 50px;
  padding: .8rem;
  margin-bottom: 1.5rem;
}

.submit-btn:hover{
  transform: scale(1.10);
  transition: transform .5s ;
  cursor: pointer;
}

.submit-btn:focus{
  background-color:#c69c45;
}

/* -----------------------------------Media query for tablet screens ----------------------------------*/
@media (max-width: 1024px){
    .pastry-grid{
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }

  .pastry-types{
    padding: 0 1rem  ;
  }

  .pastry-welcome-grid{
    grid-template-columns: repeat(2, 1fr);
    max-width: 400px;
    margin: 0 auto;
    gap: 1rem;
  }

  .pastrys{
    border-radius: 30px;
    width: 100%;
  }

  .order-list{
    grid-template-columns: repeat(2, 1fr);
  }
}

/* -----------------------------------Media query for smaller screens ( mobile devices)------------------------------------------------ */
@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  nav ul li {
    margin: 0 50px;
  }

 .search-button{
  width: 80px;
}

input.search-bar-width{
  width: 60%;
}

  main {
    padding: 10px;
  }

  .pastry-grid{
    grid-template-columns: repeat(1, 1fr);
  }

  .order-list{
    grid-template-columns: repeat(1, 1fr);

  }

  .rotate-right{
    rotate: 10deg;
  }
  
  .rotate-left{
    rotate: -10deg;
  }
}
